%div.intel-container
  %h2 Force Strength Report
  %p Refer to OSI documentation for details of ACU calculation.
  %table
    %thead
      %tr
        %th Faction
        %th Fleet Strength Estimate (ACU)
        %th Territory Estimate (systems)
        %th Notes
    %tbody
      - @factions.each do |faction|
        %tr
          %td= faction.name
          %td.number= faction.fleet
          %td.number= faction.territory
          %td= faction.notes.html_safe
  %h2 Enemy Action Report
  - if @events.empty?
    %p We have no reports available on enemy action.
  - else
    %table.events
      %thead
        %tr
          %th Event Name
          %th Status
          %th Notes
      %tbody
      - @events.each do |event|
        %tr
          %td
            =event.name
          - case event.status
          - when 'ignored', 'failed'
            %td.status.red
              =event.status
            %td
              =event.resolution.html_safe
          - when 'resolved'
            %td.status.green
              =event.status
            %td
              =event.resolution.html_safe
          - else
            %td.status.blue
              =event.status
            %td
              =event.description.html_safe

:javascript
  $(document).ready(function() {
    Apeiron.intel.onDocumentReady();
  });