%h2 Informational and Communications Systems
%div.pane
  =image_tag('crystal-lattice.jpg', height: 250)
  %p.center 
    Deep Memory Lattice:
    %span.offline Minimal Dynamism
:javascript
  $(document).ready(function() {
    Apeiron.Systems.information.onDocumentReady();
  });