%h2 System Overview
=image_tag('overview_top.png', height: 100)
=image_tag('overview_side.png', height: 100)

:javascript
  $(document).ready(function() {
    Apeiron.Systems.overview.onDocumentReady();
  });