%h2 System Overview
%div
  =image_tag('overview_top.png', height: 100)
  =image_tag('overview_side.png', height: 100)
%div
  =image_tag('overview_front.png', height: 100)
  =image_tag('overview_rear.png', height: 100)



:javascript
  $(document).ready(function() {
    Apeiron.Systems.overview.onDocumentReady();
  });