// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: black;
  color: white;
  font-family: "Courier New", monospace;
  font-size: 12px;
}

div.hidden {
  display: none;
}

h1 {
  font-family: "Lucida Grande", serif;
  font-size: 20px;
}

h2 {
  font-family: "Lucida Grande", serif;
  font-size: 16px;
}

div.visual-interface {
  height: 50vh;
  div.visual {
    display: none;
  }
  .center {
    text-align: center;
  }
}

div.text-interface {
  height: 40vh;
}

ul.log {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
  span.good {
    font-weight: bold;
    color: #76EE00;
  }
  span.key {
    font-weight: bold;
    color: #00FFAA;
  }
  span.warn {
    font-weight: bold;
    color: #FFE303;
  }
  span.bad {
    font-weight: bold;
    color: #FF3D0D;
  }
  span.heading {
    font-weight: bold;
  }

  li:before { 
      content: "";
      border-color: transparent #555;
      border-style: solid;
      border-width: 0.35em 0 0.35em 0.45em;
      display: block;
      height: 0;
      width: 0;
      left: -1em;
      top: 0.9em;
      position: relative;
  }
}