// Place all the styles related to the intel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.intel-container {
  height: 350px;
  overflow-y: scroll;
  padding: 5px;
  margin: 1px;
  border: solid 1px white;

  td.number {
    text-align: center;
  }
}