// Place all the styles related to the intel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.intel-container {
  height: 350px;
  overflow-y: scroll;
  padding: 5px;
  margin: 1px;
  border: solid 1px white;

  table {
    width: 100%;
    border-collapse: collapse;
  }
  td {
    border-top: dashed 1px white;
  }
  td.number {
    text-align: center;
  }
  td.status {
    float:right;
    font-weight: bold;
  }
  .green {
    color: #76EE00;
  }
  .yellow {
    color: #FFE303;
  }
  .blue {
    color: #00FFAA;
  }
  .red {
    color: #FF3D0D;
  }
  .events {
    td {
      padding: 0 5px;
    }
  }
}