// Place all the styles related to the missions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.missions-container {
  height: 350px;
  overflow-y: scroll;

  ul.mission-list {
    list-style: none;
  }
  div.hidden {
    display: none;
  }

  li.mission-item {
    cursor: pointer;
    padding: 3px;
    margin: 5px;
    border: solid 1px white;
  }

  span.status {
    float:right;
    font-weight: bold;
  }
  span.complete {
    color: #76EE00;
  }
  span.active {
    color: #00FFAA;
  }
  span.available {
    color: #FFE303;
  }
  span.heading {
    font-weight: bold;
  }
}