// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.projects-container {
  height: 300px;
  overflow-y: scroll;

  span.res {
    cursor: pointer;
    padding: 0 5px 0 5px;
    margin-right: 30px;
    border: solid 1px white;
  }

  div.res-desc {
    display: none;
    margin-top: 5px;
    border: solid 1px white;
    padding: 5px;
  }

  ul.project-list {
    list-style: none;
  }
  div.hidden {
    display: none;
  }

  span.status {
    font-weight: bold;
  }
  span.complete {
    color: #76EE00;
  }
  span.approved {
    color: #00FFAA;
  }
  span.pending {
    color: #FFE303;
  }
  span.failed {
    color: #FF3D0D;
  }
}